In [44]:
#Lab03-1 
#exercise2.1

In [3]:
#(1)We’ve seen that n = 42 is legal. What about 42 = n?

In [5]:
n=42
print(n)

42

In [6]:
42=n
print(n)

SyntaxError: can't assign to literal (<ipython-input-6-4c9a6d8d8adf>, line 1)

In [7]:
#(2)How about x = y = 1?

In [8]:
x=y=1
print(x,y)

1 1

In [9]:
#(3)In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [13]:
x=1
y=2
n=x+y
print(n)

3

In [12]:
x=1;
y=2;
n=x+y;
print(n);

3

In [14]:
#(4)What if you put a period at the end of a statement?

In [15]:
x=1
y=2
n=x+y
print(n).

SyntaxError: invalid syntax (<ipython-input-15-43baf8626f8a>, line 4)

In [16]:
#(5)n math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [17]:
x=2
y=5
n=x*y
print(n)

10

In [20]:
x=2
y=5
print(xy)

NameError: name 'xy' is not defined

In [21]:
#exercise2.2

In [23]:
#(1)The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

In [26]:
import math
math.pi
r=5
V=4/3 *math.pi*r**3
print(V)

523.5987755982989

In [27]:
#(2)Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [36]:
cover_price = 24.95*n
discount_price=cover_price*(1-0.4)
first_shipping=3
additional_copy=0.75*(n-1)
Total_price=discount_price + first_shipping + additional_copy
n=60
print(Total_price)

945.4499999999999

In [37]:
#(3)If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [47]:
import datetime
origin_time=datetime.timedelta(hours=6,minutes=52)
easy_pace=datetime.timedelta(minutes=8,seconds=15)
fast_pace=datetime.timedelta(minutes=7,seconds=12)
breakfast_time=origin_time+2*easy_pace+3*fast_pace
print(breakfast_time)

7:30:06

In [48]:
#exercise8.2

In [61]:
str = "banana"
print(str.count('a'))

3

In [62]:
#exercise8.3

In [81]:
def is_Palindrome(a):
    return a == a[::-1]
if __name__ == '__main__':
    a = input("请输入：")
    print(is_Palindrome(a))

请输入：asdff
False

In [82]:
#exercise8.4

In [113]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False
print(any_lowercase1('aasdB'))
print(any_lowercase1('Aasdd'))
print(any_lowercase1('aAsafdjkh'))
#only the first letter is uppercase the result will be False

True
False
True

In [106]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            #"c" is lowercase all the time, so the answer will always be TRUE
            return 'True'
        else:
            return 'False'
print(any_lowercase2('ASDBFDSA'))

True

In [105]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag
print(any_lowercase3('Dadasd'))
#This will only save the last result unless print all the results

True

In [104]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag
print(any_lowercase4('FaF'))
#only the True result will be saved

True

In [114]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True
print(any_lowercase5('abcDEF'))
print(any_lowercase5('asdbf'))

False
True

In [115]:
#exercise8.5

In [120]:
def rotate_letter(letter,n):
    if letter.isupper():
        start=ord('A')
    elif letter.islower():
        start=ord('a')
    elif letter.isdigit():
        return chr(ord(letter)+n)
    else:
        letter
    c=ord(letter)-start
    i=(n+c)%26+start
    return chr(i)
def rotate_word(s,n):
    res = ''
    for letter in s:
        res += rotate_letter(letter, n)
    return res

print(rotate_word('a1z',1))

b2a